In [8]:
import pandas as pd
import matplotlib.pyplot as plt
tabela = pd.read_csv("2021 - Eficiencia Academica.csv", sep=";", encoding="latin-1")
display(tabela)

/tmp/ipykernel_8773/3841039977.py:3: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela = pd.read_csv("2021 - Eficiencia Academica.csv", sep=";", encoding="latin-1")

,ï»¿Carga Horaria,Carga Horaria MÃ­nima,Categoria da SituaÃ§Ã£o,Cod Unidade,Cor / RaÃ§a,CÃ³digo da Matricula,CÃ³digo da Unidade de Ensino - SISTEC,CÃ³digo do Ciclo Matricula,CÃ³digo do MunicÃ­pio com DV,Data de Fim Previsto do Ciclo,...,Vagas Ofertadas,Vagas Regulares AC,Vagas Regulares l1,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,2520,1200,Evadidos,384,NÃ£o declarada,61957378,2875.0,1941815,2611101,30/12/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2520,1200,Concluintes,384,Parda,61958244,2875.0,1941815,2611101,30/12/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3780,1200,Concluintes,454,Amarela,71075240,3446.0,2128871,2806701,02/01/2020,...,NaN,20.0,2.0,0.0,0.0,0.0,8.0,2.0,8.0,0.0
3,3605,1200,Evadidos,22,Amarela,71184154,2981.0,2127395,2800308,28/02/2020,...,NaN,20.0,3.0,0.0,0.0,0.0,7.0,3.0,7.0,0.0
4,4360,1200,Evadidos,164,Amarela,67154755,2946.0,2027647,2907509,11/04/2020,...,NaN,18.0,12.0,0.0,0.0,0.0,21.0,3.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889850,3420,2400,Em curso,287,Preta,71196357,2827.0,2131801,4208906,31/12/2020,...,NaN,20.0,8.0,0.0,0.0,0.0,2.0,8.0,2.0,0.0
889851,240,160,Em curso,232,Preta,89017321,14254.0,2573333,4205902,10/07/2020,...,NaN,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889852,450,360,Concluintes,554,NÃ£o declarada,87211639,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889853,450,360,Concluintes,554,NÃ£o declarada,87211647,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889854,450,360,Em curso,554,NÃ£o declarada,87211649,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
tabela.head()

,ï»¿Carga Horaria,Carga Horaria MÃ­nima,Categoria da SituaÃ§Ã£o,Cod Unidade,Cor / RaÃ§a,CÃ³digo da Matricula,CÃ³digo da Unidade de Ensino - SISTEC,CÃ³digo do Ciclo Matricula,CÃ³digo do MunicÃ­pio com DV,Data de Fim Previsto do Ciclo,...,Vagas Ofertadas,Vagas Regulares AC,Vagas Regulares l1,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
0,2520,1200,Evadidos,384,NÃ£o declarada,61957378,2875.0,1941815,2611101,30/12/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2520,1200,Concluintes,384,Parda,61958244,2875.0,1941815,2611101,30/12/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3780,1200,Concluintes,454,Amarela,71075240,3446.0,2128871,2806701,02/01/2020,...,NaN,20.0,2.0,0.0,0.0,0.0,8.0,2.0,8.0,0.0
3,3605,1200,Evadidos,22,Amarela,71184154,2981.0,2127395,2800308,28/02/2020,...,NaN,20.0,3.0,0.0,0.0,0.0,7.0,3.0,7.0,0.0
4,4360,1200,Evadidos,164,Amarela,67154755,2946.0,2027647,2907509,11/04/2020,...,NaN,18.0,12.0,0.0,0.0,0.0,21.0,3.0,6.0,0.0

In [11]:
tabela.tail()

,ï»¿Carga Horaria,Carga Horaria MÃ­nima,Categoria da SituaÃ§Ã£o,Cod Unidade,Cor / RaÃ§a,CÃ³digo da Matricula,CÃ³digo da Unidade de Ensino - SISTEC,CÃ³digo do Ciclo Matricula,CÃ³digo do MunicÃ­pio com DV,Data de Fim Previsto do Ciclo,...,Vagas Ofertadas,Vagas Regulares AC,Vagas Regulares l1,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
889850,3420,2400,Em curso,287,Preta,71196357,2827.0,2131801,4208906,31/12/2020,...,NaN,20.0,8.0,0.0,0.0,0.0,2.0,8.0,2.0,0.0
889851,240,160,Em curso,232,Preta,89017321,14254.0,2573333,4205902,10/07/2020,...,NaN,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889852,450,360,Concluintes,554,NÃ£o declarada,87211639,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889853,450,360,Concluintes,554,NÃ£o declarada,87211647,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889854,450,360,Em curso,554,NÃ£o declarada,87211649,12739.0,2533329,4316907,31/12/2020,...,NaN,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
tabela.columns

Index(['ï»¿Carga Horaria', 'Carga Horaria MÃ­nima', 'Categoria da SituaÃ§Ã£o',
       'Cod Unidade', 'Cor / RaÃ§a', 'CÃ³digo da Matricula',
       'CÃ³digo da Unidade de Ensino - SISTEC', 'CÃ³digo do Ciclo Matricula',
       'CÃ³digo do MunicÃ­pio com DV', 'Data de Fim Previsto do Ciclo',
       'Data de Inicio do Ciclo', 'Data de Ocorrencia da Matricula',
       'Eixo TecnolÃ³gico', 'Faixa EtÃ¡ria', 'Fator EsforÃ§o Curso',
       'Fonte de Financiamento', 'Idade', 'InstituiÃ§Ã£o',
       'MatrÃ­culas Atendida', 'MatrÃ­culas Equivalentes',
       'Modalidade de Ensino', 'MunicÃ­pio',
       'MÃªs De OcorrÃªncia da SituaÃ§Ã£o', 'Nome de Curso',
       'NÃºmero de registros', 'RegiÃ£o', 'Renda Familiar', 'Sexo',
       'SituaÃ§Ã£o de MatrÃ­cula', 'Subeixo TecnolÃ³gico', 'Tipo de Curso',
       'Tipo de Oferta', 'Total de Inscritos', 'Turno', 'UF',
       'Unidade de Ensino', 'Vagas ExtraordinÃ¡rias AC',
       'Vagas ExtraordinÃ¡rias l1', 'Vagas ExtraordinÃ¡rias l10',
       'Vagas ExtraordinÃ¡rias l13', 'Vagas ExtraordinÃ¡rias l14',
       'Vagas ExtraordinÃ¡rias l2', 'Vagas ExtraordinÃ¡rias l5',
       'Vagas ExtraordinÃ¡rias l6', 'Vagas ExtraordinÃ¡rias l9',
       'Vagas Ofertadas', 'Vagas Regulares AC', 'Vagas Regulares l1',
       'Vagas Regulares l10', 'Vagas Regulares l13', 'Vagas Regulares l14',
       'Vagas Regulares l2', 'Vagas Regulares l5', 'Vagas Regulares l6',
       'Vagas Regulares l9'],
      dtype='object')

In [18]:
tabela.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
889850    False
889851    False
889852    False
889853    False
889854    False
Length: 889855, dtype: bool

In [19]:
tabela.isna().sum()

ï»¿Carga Horaria                              0
Carga Horaria MÃ­nima                         0
Categoria da SituaÃ§Ã£o                       0
Cod Unidade                                   0
Cor / RaÃ§a                                   0
CÃ³digo da Matricula                          0
CÃ³digo da Unidade de Ensino - SISTEC         5
CÃ³digo do Ciclo Matricula                    0
CÃ³digo do MunicÃ­pio com DV                  0
Data de Fim Previsto do Ciclo                 0
Data de Inicio do Ciclo                       0
Data de Ocorrencia da Matricula               0
Eixo TecnolÃ³gico                             0
Faixa EtÃ¡ria                                 0
Fator EsforÃ§o Curso                          0
Fonte de Financiamento                        0
Idade                                      1504
InstituiÃ§Ã£o                                 0
MatrÃ­culas Atendida                          0
MatrÃ­culas Equivalentes                      0
Modalidade de Ensino                          0
MunicÃ­pio                                    0
MÃªs De OcorrÃªncia da SituaÃ§Ã£o          2805
Nome de Curso                                 0
NÃºmero de registros                          0
RegiÃ£o                                       0
Renda Familiar                                0
Sexo                                          0
SituaÃ§Ã£o de MatrÃ­cula                      0
Subeixo TecnolÃ³gico                          0
Tipo de Curso                                 0
Tipo de Oferta                                0
Total de Inscritos                       889855
Turno                                         0
UF                                            0
Unidade de Ensino                             0
Vagas ExtraordinÃ¡rias AC                   424
Vagas ExtraordinÃ¡rias l1                   424
Vagas ExtraordinÃ¡rias l10                  424
Vagas ExtraordinÃ¡rias l13                  424
Vagas ExtraordinÃ¡rias l14                  424
Vagas ExtraordinÃ¡rias l2                   424
Vagas ExtraordinÃ¡rias l5                   424
Vagas ExtraordinÃ¡rias l6                   424
Vagas ExtraordinÃ¡rias l9                   424
Vagas Ofertadas                          889855
Vagas Regulares AC                          450
Vagas Regulares l1                          450
Vagas Regulares l10                         450
Vagas Regulares l13                         450
Vagas Regulares l14                         450
Vagas Regulares l2                          450
Vagas Regulares l5                          450
Vagas Regulares l6                          450
Vagas Regulares l9                          450
dtype: int64

In [20]:
tabela.describe()

,ï»¿Carga Horaria,Carga Horaria MÃ­nima,Cod Unidade,CÃ³digo da Matricula,CÃ³digo da Unidade de Ensino - SISTEC,CÃ³digo do Ciclo Matricula,CÃ³digo do MunicÃ­pio com DV,Idade,NÃºmero de registros,Total de Inscritos,...,Vagas Ofertadas,Vagas Regulares AC,Vagas Regulares l1,Vagas Regulares l10,Vagas Regulares l13,Vagas Regulares l14,Vagas Regulares l2,Vagas Regulares l5,Vagas Regulares l6,Vagas Regulares l9
count,889855.000000,889855.000000,889855.000000,8.898550e+05,889850.000000,8.898550e+05,8.898550e+05,888351.000000,889855.0,0.0,...,0.0,889405.000000,889405.000000,889405.000000,889405.000000,889405.000000,889405.000000,889405.000000,889405.000000,889405.000000
mean,725.919896,558.907946,426.122347,9.186318e+07,13236.671666,2.621109e+06,3.752827e+06,29.758485,1.0,NaN,...,NaN,1433.667904,3.665239,0.370852,0.400675,0.365965,2.017140,1.387033,1.966232,0.207034
std,1270.849129,737.831110,892.410313,7.821274e+06,15142.424854,1.856160e+05,9.158748e+05,10.543088,0.0,NaN,...,NaN,18111.191958,54.837289,2.245799,2.477214,2.246850,8.556433,7.485563,8.326924,0.735011
min,20.000000,160.000000,1.000000,1.749822e+07,354.000000,1.939767e+06,1.100023e+06,-74.000000,1.0,NaN,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,160.000000,116.000000,9.101562e+07,2936.000000,2.608057e+06,3.143302e+06,22.000000,1.0,NaN,...,NaN,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.000000,160.000000,149.000000,9.528343e+07,2959.000000,2.708356e+06,4.302105e+06,27.000000,1.0,NaN,...,NaN,297.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,810.000000,1000.000000,469.000000,9.605411e+07,20388.000000,2.713540e+06,4.302105e+06,36.000000,1.0,NaN,...,NaN,999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5560.000000,4000.000000,6002.000000,1.029540e+08,46314.000000,2.836009e+06,5.300108e+06,121.000000,1.0,NaN,...,NaN,665252.000000,1361.000000,45.000000,45.000000,45.000000,149.000000,252.000000,145.000000,17.000000